{% extends 'commathweb/base.html' %}

{% block content %}
{% csrf_token %} 
<div class="row">
		<span style="text-align: center;">IEEE floating point double precision (64-bit)</span>
		<form action="#" method="GET" class="contact200-form validate-form">
			<div class="wrap-input100 validate-input">
				<input id="name" class="input100" type="number" placeholder="1.000" step="any" min="0" max="9999999" name="num" value="{{ x }}">
				<span class="focus-input100"></span>
				<label class="label-input100" for="name">
					<span class="lnr lnr-user m-b-2"></span>
					</label>
			</div>
			<br/>
			<div class="wrap-input100 validate-input">
				<div class="jumbotron">
					<div class="row">
						<div class="col-md">								
						ผลลัพธ์<hr><span class="col-md-3">{{ answer }}</span>							
						</div>
					</div>
				</div>
			</div>
			<div class="container-contact200-form-btn">
				<button class="btn btn-outline-danger">แปลง</button>
			</div> 
			</form>
	
</div>

{% endblock %}