{% extends 'commathweb/base.html' %}
{% block content %}

<div class="section_container second_section_container flex_container flex_center">
    <div class="text header_text text_grad_purple_yellow">
    <h3>แก้ระบบสมการเชิงเส้น $Ax = b$</h3>
    </div>
<section>
<div class="container">
    <div class="row">
             <div class="col-sm-4" >
                    <div class="container">
                        <div class="form-group">
                                <h4>กรุณากรอกค่าต่อไปนี้</h4>
                                    <form action='' method="post">
                                        {% csrf_token %}
                                        <textarea name = "data" rows="3" cols="50"></textarea>
                                        <br>
                                        <br>
                                        <input type="submit" class="btn btn-primary" >
                                    </form>  
                                    <br>
                              <h4> ผลลัพธ์ </h4>
                    {% for r in results %}
                        {{r}},
                    {% endfor %}
                    <p>-----------------------------------</p>
                    {% for i, j in mylist %}
                        {{ i }} = {{ j }} <br>
                    {% endfor %}
                </div>
            </div>
     </div>
</div>
</div>
  
</section>
{% endblock %}
